/*

 * Custom code goes here.

 * A template should always ship with an empty custom.css

 */

@font-face {
    font-family: 'Muli-BoldItalic';
    src: url('../font/Muli/static/Muli-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-Black';
    src: url('../font/Muli/static/Muli-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-BlackItalic';
    src: url('../font/Muli/static/Muli-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-Bold';
    src: url('../font/Muli/static/Muli-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-ExtraBold';
    src: url('../font/Muli/static/Muli-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-ExtraBoldItalic';
    src: url('../font/Muli/static/Muli-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-Italic';
    src: url('../font/Muli/static/Muli-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-SemiBold';
    src: url('../font/Muli/static/Muli-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-SemiBoldItalic';
    src: url('../font/Muli/static/Muli-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-Medium';
    src: url('../font/Muli/static/Muli-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-MediumItalic';
    src: url('../font/Muli/static/Muli-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-Light';
    src: url('../font/Muli/static/Muli-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-LightItalic';
    src: url('../font/Muli/static/Muli-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-Regular';
    src: url('../font/Muli/static/Muli-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-ExtraLightItalic';
    src: url('../font/Muli/static/Muli-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-ExtraLight';
    src: url('../font/Muli/static/Muli-ExtraLight.ttf') format('truetype');
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1250px !important;
    }
}


/*header-top*/

#_desktop_logo,
#cbt_mainmenu,
#cbt_blockbesoindassistance,
.cbt_customersignin,
.cbt_shoppingcart {
    height: 78px;
    padding: 0 15px 0 0;
}

@media (min-width: 1200px) {
    #_desktop_logo {
        width: 30%;
    }
    #cbt_mainmenu {
        width: 32%;
    }
    .user-info {
    width: 204px;
    }
    #cbt_blockbesoindassistance {
        padding-top: 20px;
        width: 15%;
    }
    .cbt_customersignin {
        padding-top: 20px;
        width: 11%;
    }
    .cbt_shoppingcart {
        padding-top: 20px;
        width: 12%;
    }
    .category_Outillages {
        width: 32.33%;
    }
    .category_Piscine_et_SPA {
        width: 32.33%;
        background: rgba(251, 251, 251, 0.45) !important;
        border-left: 1px dashed #e4e4e4;
        border-right: 1px dashed #e4e4e4;
    }
    .category_Outillage_de_Jardinage {
        width: 32.33%;
    }
    #cbt_slogancabatho {
        font-family: Muli-Bold !important;
        color: #666666 !important;
        font-size: 20px !important;
        text-transform: uppercase;
        letter-spacing: 2px !important;
        width: 70%;
        border-top: 1px dashed #e4e4e4;
        border-bottom: 1px dashed #e4e4e4;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .cbt_searchbar {
        width: 30%;
        border-top: 1px dashed #e4e4e4;
        border-bottom: 1px dashed #e4e4e4;
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .left_blog_cont {
        margin-left: 12px;
    }
    .right_blog_cont {
        margin-left: 32px;
    }
    .cart_content {
        box-shadow: 2px 1px 11px 2px rgba(0, 0, 0, .1);
        border: none;
        width: calc(200%);
        min-width: calc(200%);
        left: -71px!important;
        border-radius: unset!important;
    }
    .class_title_product_item {
        width: 65%;
        max-width: 65%;
    }
    .manufacturer_image_item {
        width: 35%;
        max-width: 35%;
    }
    .content_type_vue {
        width: 85%;
        max-width: 85%;
    }
    .image_type_vue {
        width: 15%;
        max-width: 15%;
        padding-left: 10px
    }
}

@media (min-width: 992px) {
    #_desktop_logo {
        width: 30%;
    }
    #cbt_mainmenu {
        width: 32%;
    }
    #cbt_blockbesoindassistance {
        padding-top: 20px;
        width: 15%;
    }
    .cbt_customersignin {
        padding-top: 20px;
        width: 11%;
    }
    .cbt_shoppingcart {
        padding-top: 20px;
        width: 12%;
    }
    .category_Outillages {
        width: 32.33%;
    }
    .category_Piscine_et_SPA {
        width: 32.33%;
        background: rgba(251, 251, 251, 0.45) !important;
        border-left: 1px dashed #e4e4e4;
        border-right: 1px dashed #e4e4e4;
    }
    .category_Outillage_de_Jardinage {
        width: 32.33%;
    }
    .left_blog_cont {
        margin-left: 12px;
    }
    .right_blog_cont {
        margin-left: 32px;
    }
    .cart_content {
        box-shadow: 2px 1px 11px 2px rgba(0, 0, 0, .1);
        border: none;
        width: calc(200%);
        min-width: calc(200%);
        left: -71px!important;
        border-radius: unset!important;
    }
    .class_title_product_item {
        width: 65%;
        max-width: 65%;
    }
    .manufacturer_image_item {
        width: 35%;
        max-width: 35%;
    }
    .content_type_vue {
        width: 85%;
        max-width: 85%;
    }
    .image_type_vue {
        width: 15%;
        max-width: 15%;
        padding-left: 10px
    }
}

@media (min-width: 768px) {
    #_desktop_logo {
        width: 30%;
    }
    #cbt_mainmenu {
        width: 32%;
    }
    #cbt_blockbesoindassistance {
        width: 15%;
    }
    .cbt_customersignin {
        width: 11%;
    }
    .cbt_shoppingcart {
        width: 12%;
    }
    .category_Outillages {
        width: 32.33%;
    }
    .category_Piscine_et_SPA {
        width: 32.33%;
        background: rgba(251, 251, 251, 0.45) !important;
        border-left: 1px dashed #e4e4e4;
        border-right: 1px dashed #e4e4e4;
    }
    .category_Outillage_de_Jardinage {
        width: 32.33%;
    }
    .left_blog_cont {
        margin-left: 12px;
    }
    .right_blog_cont {
        margin-left: 32px;
    }
    .cart_content {
        box-shadow: 2px 1px 11px 2px rgba(0, 0, 0, .1);
        border: none;
        width: calc(200%);
        min-width: calc(200%);
        left: -71px!important;
        border-radius: unset!important;
    }
    .class_title_product_item {
        width: 65%;
        max-width: 65%;
    }
    .manufacturer_image_item {
        width: 35%;
        max-width: 35%;
    }
    .content_type_vue {
        width: 85%;
        max-width: 85%;
    }
    .image_type_vue {
        width: 15%;
        max-width: 15%;
        padding-left: 10px
    }
}

@media (max-width: 767px) {
    #_desktop_logo {
        width: 100%;
    }
    #cbt_mainmenu {
        width: 100%;
    }
    #cbt_blockbesoindassistance {
        width: 100%;
    }
    .cbt_customersignin {
        width: 100%;
    }
    .cbt_shoppingcart {
        width: 100%;
    }
    .class_title_product_item {
        width: 65%;
        max-width: 65%;
    }
    .manufacturer_image_item {
        width: 35%;
        max-width: 35%;
    }
    .content_type_vue {
        width: 85%;
        max-width: 85%;
    }
    .image_type_vue {
        width: 15%;
        max-width: 15%;
        padding-left: 10px
    }
}


/*header-top end*/


/* beta code start */

.input_cherche {
    width: 100%;
}

.page-category .category_page_active_num {
    background: #36b0d2;
    color: #ffffff;
}

.page-category .category_page_active {
    opacity: 1;
}

.page-product .product_page_active {
    opacity: 1;
}

.page-product .product_page_active_num {
    background: #36b0d2;
    color: #ffffff;
}

.numero {
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    background: #e4e4e4;
    border-radius: 20px;
}

.text_tutorial {
    font-family: Muli-ExtraBold!important;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.5;
    text-align: center;
}

.content_tutorial {
    padding-top: 15px;
    border-bottom: 1px dashed #e4e4e4;
    border-top: 1px dashed #e4e4e4;
}

.image_opacity img {
    opacity: 1;
}

.text_tutorial.category_page_active {
    text-align: left;
    position: relative;
}

.text_tutorial.product_choice_page_active {
    text-align: right;
    padding-top: 15px;
}

.bold_txt {
    color: #000000;
}

#js-product-list-header {
    display: none;
}

.content_left_bordered {
    border-right: 1px solid #e4e4e4;
}

.content_image_banner_left {
    padding-left: 0px!important;
    padding-right: 2px!important;
}

.content_image_banner_right {
    padding-left: 2px!important;
    padding-right: 0px!important;
}

.contain_img_txt {
    padding-top: 30px;
    padding-bottom: 29px;
}

.sub-txt-ban,
.paragraph-txt-ban {
    color: white;
}

.paragraph-txt-ban {
    font-size: 12px;
    font-family: Muli-ExtraBold !important;
    text-align: justify;
    margin-bottom: 0px!important;
}

.sub-txt-ban {
    font-size: 14px;
    font-family: Muli-ExtraBold !important;
    text-transform: uppercase;
}

.txt_blue {
    color: rgb(54, 176, 210);
}

.row_cont_banner {
    background-color: rgb(68, 68, 68);
}


/* beta comment */


/*.category-id-4 #univers_banner_outillage{*/


/*display: block!important;*/


/*}*/


/*.category-id-4 #univers_banner_piscine{*/


/*display: none!important;*/


/*}*/


/*.category-id-4 #univers_banner_jardinage{*/


/*display: none!important;*/


/*}*/


/*.category-id-5 #univers_banner_outillage{*/


/*display: none!important;*/


/*}*/


/*.category-id-5 #univers_banner_piscine{*/


/*display: block!important;*/


/*}*/


/*.category-id-5 #univers_banner_jardinage{*/


/*display: none!important;*/


/*}*/


/*.category-id-10 #univers_banner_outillage{*/


/*display: none!important;*/


/*}*/


/*.category-id-10 #univers_banner_piscine{*/


/*display: none!important;*/


/*}*/


/*.category-id-10 #univers_banner_jardinage{*/


/*display: block!important;*/


/*}*/


/*.category-id-3 #univers_banner_outillage{*/


/*display: none!important;*/


/*}*/


/*.category-id-3 #univers_banner_piscine{*/


/*display: none!important;*/


/*}*/


/*.category-id-3 #univers_banner_jardinage{*/


/*display: none!important;*/


/*}*/


/*.product-id-category-4 #univers_banner_outillage{*/


/*display: block!important;*/


/*}*/


/*.product-id-category-4 #univers_banner_piscine{*/


/*display: none!important;*/


/*}*/


/*.product-id-category-4 #univers_banner_jardinage{*/


/*display: none!important;*/


/*}*/


/*.product-id-category-5 #univers_banner_outillage{*/


/*display: none!important;*/


/*}*/


/*.product-id-category-5 #univers_banner_piscine{*/


/*display: block!important;*/


/*}*/


/*.product-id-category-5 #univers_banner_jardinage{*/


/*display: none!important;*/


/*}*/


/*.product-id-category-10 #univers_banner_outillage{*/


/*display: none!important;*/


/*}*/


/*.product-id-category-10 #univers_banner_piscine{*/


/*display: none!important;*/


/*}*/


/*.product-id-category-10 #univers_banner_jardinage{*/


/*display: block!important;*/


/*}*/


/* beta comment */

.left.carousel-control .icon-prev .material-icons {
    display: none;
}

.right.carousel-control .icon-next .material-icons {
    display: none;
}

.material-icons.search {
    transform: rotate(90deg);
}

#idcabathofooterdescription {
    margin-left: -15px;
}

.list_type_produit {
    padding-left: 40px;
}

.bloc1 {
    padding-left: 15px!important;
}

.dropdown-toggle::after {
    position: relative;
    top: 3px;
}

button.dropdown-toggle {
    border: none!important;
    background: #ffffff!important;
}

.page-index .btn-marque {
    border: solid 1px #e0e0e0;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: 50px;
    width: 300px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    background: #ffd829;
}

.btn-marque {
    border: solid 1px #e0e0e0;
    border-radius: 10px;
    margin-left: 50px;
    width: 300px;
    text-align: center;
    padding: 5px;
    background: #ffffff;
    cursor: pointer;
}

.image_down {
    margin-top: -5px;
}

.page-index .btn-marque a {
    font-size: 14px;
    color: #444444;
    text-transform: uppercase;
    font-family: Muli-ExtraBold !important;
}

.btn-marque a:hover {
    font-size: 14px;
    color: #444444;
    text-transform: uppercase;
    font-family: Muli-ExtraBold !important;
}

.page-index #list_brand_ul {
    height: 290px;
    overflow: hidden;
}

.page-index #list_brand_ul1 {
    height: auto;
    overflow: hidden;
}

.page-index #univers_banner {
    display: none;
}

#list_brand_ul {
    height: 150px;
    overflow: hidden;
}

#list_brand_ul1 {
    height: auto;
    overflow: hidden;
}

.footer_class_content {
    margin-left: 90px;
    padding-left: 20px;
    border-left: solid 1px white;
}

.footer_link_content {
    margin-bottom: 0px!important;
}

.border_right {
    border-right: 1px solid #f0f0f0!important;
    padding-right: 75px !important;
    margin-right: -65px !important;
    padding-bottom: 45px !important;
}

.text_testimonials1 {
    color: #888888 !important;
    margin-right: -29px !important;
    text-align: justify;
    font-family: verdana !important;
    font-size: 13px !important;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid #f0f0f0!important;
}

.text_testimonials {
    color: #888888 !important;
    margin-right: -10px !important;
    text-align: justify;
    font-family: verdana !important;
    font-size: 13px !important;
    padding-left: 20px !important;
    padding-right: 15px !important;
}

.text_image {
    padding-top: 12px;
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.bold_block_engage {
    font-family: Muli-ExtraBold !important;
    color: #444444 !important;
    font-size: 16px !important;
}

.txt_block_engage {
    font-family: Muli-SemiBold !important;
    font-size: 14px !important;
    color: #888888 !important;
}

.text-bold {
    font-family: Muli-ExtraBold !important;
    color: #333333 !important;
    font-size: 25px !important;
}

.after_bold {
    font-family: Muli-SemiBold !important;
    font-size: 20px !important;
    color: #333333 !important;
}

.para-ecla {
    font-family: Muli-SemiBold !important;
    color: #ffffff !important;
    font-size: 14px !important;
    text-align: justify !important;
}

.page-index .header-top #search_filters_brands {
    display: none;
}

.text_image_bloc {
    align-self: center;
    color: #888888 !important;
    font-size: 13px !important;
    padding: 50px !important;
    font-family: Verdana !important;
    text-align: justify;
}

.list {
    font-family: Muli-Bold !important;
    color: #444444 !important;
}

.title_rep {
    font-family: Muli-ExtraBold !important;
    color: #444444 !important;
    font-size: 15px !important;
}

.desc_rep {
    font-family: Muli-SemiBold !important;
    color: #888888 !important;
    font-size: 12px !important;
}

.title_bloc {
    font-family: Muli-ExtraBold !important;
    color: #444444 !important;
    font-size: 25px !important;
}

.sous-title {
    font-family: Muli-SemiBold !important;
    font-size: 20px !important;
    color: #888888 !important;
}

.title_black {
    font-family: Muli-ExtraBold !important;
    font-size: 25px;
    text-transform: uppercase !important;
    color: #444444 !important;
}

.title_blue {
    font-family: Muli-ExtraBold !important;
    font-size: 25px !important;
    color: #36b0d2 !important;
    text-transform: uppercase !important;
}

.text_right {
    font-family: Verdana !important;
    font-size: 13px !important;
    text-align: justify;
    color: #888888 !important;
    padding-left: 20px !important;
    /*margin-right: -9px !important;*/
}

#content_left_bordered {
    border-right: 1px solid #e4e4e4;
}

.top-menu .sub-menu ul[data-depth="1"]>li {
    float: none!important;
    margin: 0!important;
}

.sub-menu {
    top: 80px!important;
}

.top-menu {
    margin-bottom: 0!important;
}

.category_Nos_Univers {
    border-right: 1px dashed #2594b3!important;
}

.category_Nos_marques {
    border-right: 1px dashed #2594b3!important;
}

#_desktop_top_menu {
    background: #36b0d2;
    color: #ffffff;
}

.sub-menu ul li {
    /* display: inline-block; */
}


/* beta code end */

#_desktop_top_menu a.dropdown-item {
    color: #ffffff !important;
    font-family: Muli-SemiBold !important;
    font-size: 14px !important;
    padding-top: 28px;
    padding-bottom: 28px;
    /* modif beta */
}

#_desktop_top_menu a.dropdown-item.dropdown-submenu {
    color: #ffffff !important;
    font-size: 14.55px !important;
    /* modif beta */
}


/* create beta */

#_desktop_top_menu a.dropdown-item.dropdown-submenu.univ_categ {
    color: #444444;
    padding: 30px;
    padding-top: 10px !important;
    padding-bottom: 15px !important;
    text-decoration: none;
    display: block;
    font-family: Muli-ExtraBold !important;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
}


/* create beta */

#_desktop_top_menu a.dropdown-item:hover {
    background-color: transparent !important;
}

#_desktop_top_menu a.dropdown-item.dropdown-submenu {
    color: #000000 !important;
}

.header_help .spn2 .spn3 {
    font-size: 12px !important;
    color: #888888 !important;
    font-family: Muli-SemiBold !important;
}

.header_help .spn4 .spn5 {
    font-weight: bold;
    color: #444444 !important;
}

#_desktop_user_info .hidden-sm-down {
    font-size: 12px !important;
    color: #888888 !important;
}

#_desktop_cart .hidden-sm-down {
    font-size: 12px !important;
    color: #888888 !important;
}

.footer-container {
    background-color: #444444 !important;
}

ul.collapse {
    display: block !important;
}

.footer-container li a {
    color: #ffffff !important;
}

.links .h3.hidden-sm-down {
    display: none;
}

.class_cab_mainblockrubrique_home {
    margin-top: 50px !important;
    padding-top: 30px !important;
}

.class_cab_mainblockrubrique_home,
.class_cab_maindescription_home {
    background: #fbfbfb !important;
}

.classcabathovueeclateeaccueil {
    background: #36b0d2;
}

.btn-plus {
    border: solid 2px white;
    border-radius: 5px;
    width: 112px;
    text-align: center;
    padding: 5px;
    font-family: Muli-ExtraBold !important;
    font-size: 14px !important;
    color: white !important;
}

.btn-plus a {
    color: white !important;
}

#cbt_blockbesoindassistance {
    padding-left: 7px;
}

.header_help {
    margin-left: 15px;
}

.spn5 {
    margin-left: 15px;
}

#id_5 .category-5 {
    border-left: solid 1px lightgrey;
    border-right: solid 1px lightgrey;
}


/* Faniry modification */

#menu_marques {
    border-left: 1px dashed #2594b3;
    border-right: 1px dashed #2594b3;
}

#id_5 .category-5 {
    border-left: dashed 1px #e4e4e4!important;
    border-right: dashed 1px #e4e4e4!important;
}

a.dropdown-item.dropdown-submenu.category-5 {
    color: #666 !important;
    text-decoration: none !important;
    display: block;
    font-size: 11px !important;
    float: left !important;
    text-transform: none !important;
}

ul.top-menu div {
    border-left: dashed 1px #e4e4e4!important;
    background: #fff;
    padding: 10px;
}

ul.top-menu div:first-child {
    display: none;
}

.sub-menu ul li {
    /*display: inline-block; */
    text-align: left;
    /* background: #fff; */
}

a.dropdown-item.dropdown-submenu.category-5 {
    color: #666666!important;
    padding: 0 20px;
}

#cbt_mainmenu_categ a.dropdown-item.dropdown-submenu.category-5 {
    padding: 0 0 0 20px;
    margin-bottom: -5px;
}

ul.top-menu li.current a.dropdown-submenu.category-5 {
    background: #fff
}

#header .header-top .menu {
    height: inherit;
}

.sub-menu {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

li a span {
    font-size: 18px;
    text-transform: uppercase;
}
li a span.magnitude {
    font-size: 12px;
}

#head_table {
    background-color: #444444!important;
    padding: 1%;
}

._desktop-title {
    color: #fff!important;
}

#order-items .image img {
    border: 1px solid #c7c7c7!important;
    margin-left: 15px;
}

#order-items .details {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Muli-ExtraBold;
}

.dt {
    padding-top: 50px;
    padding-bottom: 50px;
    border-left: 1px solid #c7c7c7;
    font-family: Verdana;
    font-weight: 300!important;
    font-size: 22px;
}

#order-items hr {
    border-top-color: #e4e4e4;
}


/*  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px 
  ##haeder*/

  @media (min-width: 768px) and (max-width: 1024px) {
  
/*.w-100{
    margin-left:50px;
    margin-top:15px;
    
}

.cbt_customersignin {
    width: 11%;
    text-align: center;
}


#cbt_blockbesoindassistance {
    text-align:center;
}
.header_help .spn4 .spn5{
    font-size:10px;
}

#_desktop_cart .hidden-sm-down {
    display: block; 
}

.cbt_searchbar{
    margin-top:15px;
}

#_desktop_user_info .hidden-sm-down {
   
    display: inline-block;
   
    text-align: center;

#_desktop_cart .hidden-sm-down {
    
    display:block;
}
*/
}


/*
   responsive tablette;
   device : ipad pro;
 */
@media screen and (min-width:770px) and (max-width:1024px)
{
   /* header */
    .user-info {
        width: 140px;
    }
     
    .cbt_searchbar {
    
    margin-top: 20px;
    }

    #cbt_slogancabatho {
    margin-top: 20px;
    margin-left: 175px;
    }

    .cbt_customersignin {
    width: 17% !important;
    }

    #_desktop_logo {
    width: 70% !important;
    text-align: center;
    }

    div#_desktop_top_menu {
    width: 40% !important;
    }

    #cbt_blockbesoindassistance {
    width: 20% !important;
    padding-left: 8px;
    margin-left: 69px;
    }

   /*end header*/

   /*start block engage*/
    .bold_block_engage {
    font-family: Muli-ExtraBold !important;
    color: #444444 !important;
    font-size: 11px !important;
    margin-left: 20px;
    }

    .txt_block_engage {
    font-family: Muli-SemiBold !important;
    font-size: 12px !important;
    color: #888888 !important;
    margin-left: 19px;
    }
   /*end block engage*/

    /* start image */
    .col-lg-5.p-0.sub_container_blog.text-center img {
    width: 387px;
    }

   .col-lg-12.p-0.up_cont_one_sub1.text-center img {
        height: 145px;
        width: 275px;
    }

    .col-lg-12.p-0.up_cont_one_sub2.text-center img {
    height: 134px;
    width: 274px;
    }

    .col-lg-12.p-0.up_cont_two_sub1 img {
    margin-left: 19px;
    width: 265px;
    height: 142px;
    }

    .col-lg-12.p-0.up_cont_two_sub2 img {
            height: 138px;
            width: 264px;
            margin-left: 20px;
    }

    
    /*end image */
    /* bebut image outillage*/
     .col-lg-6.col-md-6.col-12.row_cont_banner.contain_img_txt {
            height: 107px;
    }

    .col-lg-6.col-md-6.col-6.row_cont_banner.contain_img_txt {
    height: 106px;
    }

    .col-lg-3.col-3.text-center img {
    height: 73px;
    }
 
    .sub-txt-ban {
    font-size: 10px !important;
    font-family: Muli-ExtraBold !important;
    text-transform: uppercase;
    }

    .paragraph-txt-ban {
    font-size: 10px !important;
    font-family: Muli-ExtraBold !important;
    text-align: justify;
    margin-bottom: 0px!important;
    padding-top: 0px;
    }

    .title_black {
    font-family: Muli-ExtraBold !important;
    font-size: 19px !important;
    text-transform: uppercase !important;
    color: #444444 !important;
    }

    .title_blue {
    font-family: Muli-ExtraBold !important;
    font-size: 19px !important;
    color: #36b0d2 !important;
    text-transform: uppercase !important;
    }

    .text_right {
    font-family: Verdana !important;
    font-size: 10px !important;
    text-align: justify;
    color: #888888 !important;
    padding-left: 20px !important;
    margin-right: -9px !important;
    }
    /*end image outillage */
    
    /* start liste 123 */
    .text_tutorial {
        font-size: 9px !important;
        padding-top: 0px !important;
    }

    .dropdown-product-info a, span {
    font-size: 10px !important;
    }

    /* end liste 123 */

    /*start product list*/
    div#js-product-list {
    margin-left: 89px;
    }
   
    /*end product list*/
   .text_testimonials1.bloc1 {
    font-size: 10px !important;
    }

    .text_testimonials1 {
    font-size: 10px !important;
    }

    .text_testimonials {
    font-size: 10px !important;
    }
}

/*
   device : ipad;
*/
@media screen and (min-width:578px) and (max-width:768px)
{
    /* start header */
   .user-info {
        width: 140px;
        margin-left: -7px;
    }

    .cbt_shoppingcart {
    width: 12%;
    margin-left: -7px;
    }
     
    .cbt_searchbar {
    
    margin-top: 20px;
    }

    #cbt_slogancabatho {
    margin-top: -30px;
    margin-left: 223px;
    }

    .cbt_customersignin {
    width: 18% !important;
    }

    #_desktop_logo {
    width: 70% !important;
    text-align: center;
    }

    div#_desktop_top_menu {
    width: 42% !important;
    }

    #cbt_blockbesoindassistance {
        width: 24%;
        margin-left: -7px;
    }

    div#cbt_blockbesoindassistance p {
    margin-left: 3px;
    margin-top: -28px;
    }

    #_desktop_top_menu a.dropdown-item {
        color: #ffffff !important;
        font-family: Muli-SemiBold !important;
        font-size: 10px !important;
        padding-top: 28px;
        padding-bottom: 28px;
    }

    .header_help {
    margin-left: 31px;
    }

    .d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
    margin-left: 16px;
   }
    /*end header*/

    /*start text bloc*/
    .title_black {
    font-family: Muli-ExtraBold !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
    color: #444444 !important;
    }

    .title_blue {
    font-family: Muli-ExtraBold !important;
    font-size: 14px !important;
    color: #36b0d2 !important;
    text-transform: uppercase !important;
    }

    .text_right {
    font-family: Verdana !important;
    font-size: 11px !important;
    text-align: justify;
    color: #888888 !important;
    padding-left: 20px !important;
    }
    /*end text bloc */
    /*start produit réparé*/
     .text_image_bloc {
    align-self: center;
    color: #888888 !important;
    font-size: 11px !important;
    padding: 50px !important;
    font-family: Verdana !important;
    text-align: justify;
    margin-bottom: -67px;
    }

    /*end produit réparé*/

    /*start block engage*/
    .col-lg-3.col-sm-3.pl-2.pr-2 img {
        width: 72px;
        height: 66px;
        margin-left: 49px;
    }

    .bold_block_engage {
    font-family: Muli-ExtraBold !important;
    color: #444444 !important;
    font-size: 9px !important;
    }

    .txt_block_engage {
    font-family: Muli-SemiBold !important;
    font-size: 11px !important;
    color: #888888 !important;
    }

    .col-lg-9.col-sm-9.text_image {
      margin-top: 53px;;
    }
   /*end block engage*/
    /* start image */
    .col-lg-5.p-0.sub_container_blog.text-center img {
    width: 528px;
    }

   .col-lg-12.p-0.up_cont_one_sub1.text-center img {
            height: 145px;
    width: 284px;
    display: flex;
    margin-left: 79px;
    }

    .col-lg-12.p-0.up_cont_one_sub2.text-center img {
        height: 145px;
    width: 246px;
    float: left;
    margin-top: -145px;
    margin-left: 365px;
    }

    .col-lg-12.p-0.up_cont_two_sub1 img {
    margin-left: 66px;
    width: 285px;
    height: 142px;
    }

    .col-lg-12.p-0.up_cont_two_sub2 img {
                height: 143px;
                width: 247px;

                float: left;
                margin-top: -142px;
                margin-left: 353px;
    }

    
    /*end image */

    /*start text */
    .text_testimonials1 {
    color: #888888 !important;
    margin-right: -29px !important;
    text-align: justify;
    font-family: verdana !important;
    font-size: 11px !important;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid #f0f0f0!important;
    }

    /*end text  */
    /*start outillage */
    .col-lg-3.col-4.text-center img.img-fluid {
        height: 49px;
    }

    .col-lg-9.col-9.container-banner {
        margin-top: -37px;
    margin-left: 103px;
    height: 14px;
    }

    .paragraph-txt-ban {
    font-size: 10px;
    font-family: Muli-ExtraBold !important;
    text-align: justify;
    margin-bottom: 0px!important;
    }

    .contain_img_txt {
    padding-top: 0px;
    padding-bottom: 0px;
    }
     
     span.image_opacity {
    display: none;
    }

    .text_tutorial.category_page_active {
    text-align: center;
    position: relative;
    }

    .text_tutorial.product_choice_page_active {
    margin-top: -12px;
    /* text-align: right; */
    padding-top: 15px;
    text-align: center;
    }

    #search_filters, #search_filters_brands, #search_filters_suppliers {
    background: #fff;
    display: flex;
    padding: 1.563rem 1.25rem;
    }
   /*end outillage*/
}

/*end responsive tablette */