{*<div id="blockcart-modal" data-close-on-click="true">*}
  {*<div>*}
    {*<section>*}
      {*<h1>{l s='Product Successfully Added to Your Shopping Cart' d='Shop.Theme.Checkout'}</h1>*}
      {*{$product.name}*}
    {*</section>*}
  {*</div>*}
{*</div>*}

{*<div class="modal fade" id="blockcart-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">*}
  {*<div class="modal-dialog" role="document">*}
    {*<div class="modal-content">*}
      {*<div class="modal-header">*}
        {*<h5 class="modal-title" id="myModalLabel">*}
          {*{l s='Product Successfully Added to Your Shopping Cart' d='Shop.Theme.Checkout'}*}
        {*</h5>*}
        {*<button type="button" class="close" data-dismiss="modal" aria-label="Close">*}
          {*<span aria-hidden="true">&times;</span>*}
        {*</button>*}
      {*</div>*}
      {*<div class="modal-body">*}
        {*{$product.name}*}
      {*</div>*}
    {*</div>*}
  {*</div>*}
{*</div>*}
